## Pandas Library

## pandas library is usefully to create a dataset and to work with datasets.

##Pandas Dataframe and Indexing

## Indexing is used when we are creating a single column or one dimensional dataset.

## DataFrame is used when we are creating a multi column or multi dimentional dataset.

### Creating series using series() method:-

In [2]:
import pandas as pd
import numpy as np
sports1 = pd.Series([1,2,3,4],index = ['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [3]:
sports1["golf"]

4

In [4]:
sports["football"]

NameError: name 'sports' is not defined

In [5]:
sports1["football"]

2

In [6]:
sports1[1]

2

In [7]:
sports2 = pd.Series([11,2,3,4],index = ['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [8]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [9]:
df1 = pd.DataFrame(np.random.rand(8,5),index = ' A B C D E F G H'.split(),columns = 'Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.730401  0.674534  0.993881  0.216333  0.752365
B  0.312816  0.866933  0.798686  0.804880  0.699337
C  0.236366  0.201825  0.422477  0.947908  0.222411
D  0.306190  0.434847  0.956675  0.217298  0.498745
E  0.789469  0.959427  0.732277  0.058541  0.742941
F  0.082764  0.922073  0.038709  0.144641  0.794404
G  0.590249  0.723894  0.283865  0.213808  0.126780
H  0.076202  0.641494  0.421727  0.319330  0.039490

In [16]:
df1["Score3"]

A    0.993881
B    0.798686
C    0.422477
D    0.956675
E    0.732277
F    0.038709
G    0.283865
H    0.421727
Name: Score3, dtype: float64

In [18]:
df1[["Score2","Score3","Score4"]]

     Score2    Score3    Score4
A  0.674534  0.993881  0.216333
B  0.866933  0.798686  0.804880
C  0.201825  0.422477  0.947908
D  0.434847  0.956675  0.217298
E  0.959427  0.732277  0.058541
F  0.922073  0.038709  0.144641
G  0.723894  0.283865  0.213808
H  0.641494  0.421727  0.319330

In [19]:
df1["Score6"] = df1["Score1"] + df1["Score2"]
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.730401  0.674534  0.993881  0.216333  0.752365  1.404935
B  0.312816  0.866933  0.798686  0.804880  0.699337  1.179749
C  0.236366  0.201825  0.422477  0.947908  0.222411  0.438191
D  0.306190  0.434847  0.956675  0.217298  0.498745  0.741037
E  0.789469  0.959427  0.732277  0.058541  0.742941  1.748896
F  0.082764  0.922073  0.038709  0.144641  0.794404  1.004837
G  0.590249  0.723894  0.283865  0.213808  0.126780  1.314143
H  0.076202  0.641494  0.421727  0.319330  0.039490  0.717695

In [38]:
df2 = {'ID':['101','102','103','104','105'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df = pd.DataFrame(df2,index = 'A B C D E'. split())
df

    ID   Name  Profit
A  101   John      20
B  102  Mercy      54
C  103  Akash      56
D  104  Kavin      87
E  105  Lally     123

In [39]:
df["ID"]

A    101
B    102
C    103
D    104
E    105
Name: ID, dtype: object

In [40]:
df[["ID","Name"]]

    ID   Name
A  101   John
B  102  Mercy
C  103  Akash
D  104  Kavin
E  105  Lally

In [34]:
df = df.drop("Name",axis = 1)

In [41]:
df

    ID   Name  Profit
A  101   John      20
B  102  Mercy      54
C  103  Akash      56
D  104  Kavin      87
E  105  Lally     123

In [30]:
df.drop(3)

KeyError: '[3] not found in axis'

In [36]:
df.drop[3]

TypeError: 'method' object is not subscriptable

In [42]:
df.drop(c)

NameError: name 'c' is not defined

In [43]:
df.drop(3)

KeyError: '[3] not found in axis'